# dnsExit login credentials
version="003"

dnsExitToken="3HmQ2O5b3i"
dnsExitBaseDomain="xxx.com"

host="truenas"
user="user" 

sslDir="/home/pi/test/"
sslcert="cert.pem"
sslkey="private.key"

cmd1="document privatekey $sslDir$sslkey"
cmd2="document cert $sslDir$sslcert"
cmd3="docappend csr $sslDir$sslcert"

